* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
   background-color: #ddd;
   color: #333;
   position: relative;
}

/* Navbar */
nav {
   font-size: 1.3rem;
   background-color: #eee;
   box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
   display: flex;
   padding: 0 2em;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
}

.nav-left {
   display: flex;
   align-items: center;
}

.brand img {
   width: 100px;
   height: 70px;
}

.nav-left ul {
   list-style: none;
}

.nav-left li {
   display: inline-block;
   margin-left: 25px;
}

.nav-left li a {
   color: #333;
   text-decoration: none;
   transition: 0.3s;
}

.nav-left li a:hover {
   color: rgb(81, 81, 255);
}

.nav-right a {
   padding: 5px 20px;
   background-color: #333;
   color: white;
   border-radius: 8px;
   text-decoration: none;
}

.nav-right a:hover {
   color: rgb(81, 81, 255);
}

/* Main Content */
main {
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   width: 85%;
   background-color: white;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
   border-radius: 10px;
   margin: 150px auto;
   padding: 10px;
   display: flex;
}

/* Main - Content Left */
.main-left {
   width: 60%;
   padding: 50px;
}

.about p {
   margin-top: 10px;
   text-align: justify;
}

.about a {
   display: inline-block;
   color: #333;
   text-decoration: none;
   margin: 20px 0;
}

.about a:hover {
   color: rgb(81, 81, 255);
}

/* Main - Sosmed icon */
.sosmed {
   margin-top: 20px;
}

.sosmed a {
   padding: 0 5px;
   text-align: center;
}

.sosmed i {
   color: white;
   font-size: 25px;
   background-color: #333;
   width: 35px;
   height: 35px;
   line-height: 35px;
   border-radius: 50%;
}

/* Main - Content Right */
.card {
   width: 400px;
   box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   overflow: hidden;
   margin: 30px auto;
   text-align: center;
}

.card-heading img {
   width: 100%;
}

.card-body {
   padding: 15px;
}

/* Utilities */

.active {
   font-weight: bold;
}
